.idea/
vendor/
var/

.DS_Store

composer.lock

# tests
tests/**/_generated/
tests/_data/src/
tests/_data/vendor/
tests/_output/*
!tests/_output/.gitkeep

!tests/_data/config/*
tests/_data/*
/.phpunit.result.cache
