version: "3.9"

services:
  upgrader-sdk:
    image: spryker-sdk/upgrader-local:latest
    build:
      context: ./
      dockerfile: infrastructure/dev.Dockerfile
      args:
          SPRYKER_PARENT_IMAGE: spryker/php:8.0
    environment:
        SPRYKER_XDEBUG_HOST_IP: ${SPRYKER_XDEBUG_HOST_IP:-host.docker.internal}
    tty: true
    command: "/bin/bash"
    volumes:
       - ./:/data
       - ../b2c-demo-shop:/data/project

