parameters:
    report_send_endpoint_url: https://data.prod.spryker-dwh.net/upgrader
    report_send_timeout: 10
    report_send_connection_timeout: 4

    http_client.timeout_sec: 30
    http_client.repeatable.attempts: 3
    http_client.repeatable.usec_delay: 500000
    profiler_enabled: "%env(default:profiler_enabled_default:bool:SDK_PROFILER_ENABLED)%"
    is_release_group_integrator_enabled: false
    is_update_minimum_dependecies_enabled: false #To enable composer run logic without flag, with dependencies, with all dependencies.
    is_update_features_to_dev_master: false #To convert feature to dev master version.

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: true
        bind:
            $isReleaseGroupIntegratorEnabled: '%env(default:is_release_group_integrator_enabled:bool:RELEASE_GROUP_INTEGRATOR_ENABLED)%'
            $isUpdateMinimumDependeciesEnabled: '%env(default:is_update_minimum_dependecies_enabled:bool:UPDATE_MINIMUM_DEPENDENCIES_ENABLED)%'
            $isFeatureToDevMasterEnabled: '%env(default:is_update_features_to_dev_master:bool:UPDATE_FEATURES_TO_DEV_MASTER)%'

    # Upgrade
    Upgrade\:
        resource: '../../src/Upgrade/*'
        exclude:
            - '../../src/Upgrade/Application/Dto/*'
            - '../../src/Upgrade/Infrastructure/VersionControlSystem/Dto/*'
            - '../../src/Upgrade/Infrastructure/Report/Dto/*'
            - '../../src/Upgrade/Application/Strategy/ReleaseApp/Processor/Event/*'
            - '../../src/Upgrade/Application/Event/*Event.php'
            - '../../src/Upgrade/Domain/ValueObject/*'

    git.adapter:
        class: Upgrade\Infrastructure\VersionControlSystem\Git\Adapter\GitAdapter

    check_credentials.step:
        class: Upgrade\Application\Strategy\Common\Step\CheckCredentialsStep

    check_is_remote_target_branch_exist.step:
        class: Upgrade\Application\Strategy\Common\Step\CheckRemoteTargetBranchExistsStep

    check_is_local_target_branch_exist.step:
        class: Upgrade\Application\Strategy\Common\Step\CheckLocalTargetBranchExistsStep

    check_uncommitted_changes.step:
        class: Upgrade\Application\Strategy\Common\Step\CheckUncommittedChangesStep

    integrator_lock_run.step:
        class: Upgrade\Application\Strategy\Common\Step\IntegratorLockStep

    propel_fix.step:
        class: Upgrade\Application\Strategy\Common\Step\PropelFixStep

    project_validation_step:
        class: Upgrade\Application\Strategy\Common\Step\ProjectValidationStep

    composer_update.step:
        class: Upgrade\Application\Strategy\Composer\Step\ComposerUpdateStep

    composer_lock_diff.step:
        class: Upgrade\Application\Strategy\Common\Step\ComposerLockComparatorStep

    orm_models_regenerate.step:
        class: Upgrade\Application\Strategy\Common\Step\OrmModelsRegenerateStep

    integrator.step:
        class: Upgrade\Application\Strategy\Common\Step\IntegratorStep

    create_branch.step:
        class: Upgrade\Application\Strategy\Common\Step\CreateBranchStep

    add_changes.step:
        class: Upgrade\Application\Strategy\Common\Step\AddChangesStep

    composer_json_constraint_fix_step:
        class: Upgrade\Application\Strategy\Common\Step\ComposerJsonConstraintFixStep

    commit_changes.step:
        class: Upgrade\Application\Strategy\Common\Step\CommitChangesStep

    push_changes.step:
        class: Upgrade\Application\Strategy\Common\Step\PushChangesStep

    create_pr.step:
        class: Upgrade\Application\Strategy\Common\Step\CreatePullRequestStep

    checkout.step:
        class: Upgrade\Application\Strategy\Common\Step\CheckoutStep

    release_group_update.step:
        class: Upgrade\Application\Strategy\ReleaseApp\Step\ReleaseGroupUpdateStep

    generate_report_id.step:
        class: Upgrade\Application\Strategy\Common\Step\GenerateReportIdStep

    send_report.step:
        class: Upgrade\Application\Strategy\Common\Step\SendReportStep

    feature_dev_master.fixer:
        class: Upgrade\Application\Strategy\Composer\Fixer\FeatureDevMasterPackageFixerStep

    feature_package.fixer:
        class: Upgrade\Application\Strategy\Composer\Fixer\FeaturePackageFixerStep

    composer.step_executor:
        class: Upgrade\Application\Executor\StepExecutor
        arguments:
            - '@monolog.logger'
            - - '@check_credentials.step'
              - '@check_is_remote_target_branch_exist.step'
              - '@check_is_local_target_branch_exist.step'
              - '@check_uncommitted_changes.step'
              - '@integrator_lock_run.step'
              - '@project_validation_step'
              - '@composer_update.step'
              - '@composer_lock_diff.step'
              - '@orm_models_regenerate.step'
              - '@integrator.step'
              - '@create_branch.step'
              - '@composer_json_constraint_fix_step'
              - '@add_changes.step'
              - '@commit_changes.step'
              - '@push_changes.step'
              - '@generate_report_id.step'
              - '@create_pr.step'
              - '@checkout.step'
              - '@send_report.step'
            - - '@feature_dev_master.fixer'
              - '@feature_package.fixer'

    composer.strategy:
        class: Upgrade\Application\Strategy\Composer\ComposerStrategy
        arguments:
            - '@composer.step_executor'

    release_app.step_executor:
        class: Upgrade\Application\Executor\StepExecutor
        arguments:
            - '@monolog.logger'
            - - '@check_credentials.step'
              - '@check_is_remote_target_branch_exist.step'
              - '@check_is_local_target_branch_exist.step'
              - '@check_uncommitted_changes.step'
              - '@create_branch.step'
              - '@project_validation_step'
              - '@release_group_update.step'
              - '@push_changes.step'
              - '@generate_report_id.step'
              - '@create_pr.step'
              - '@checkout.step'
              - '@send_report.step'
            - - '@feature_dev_master.fixer'
              - '@feature_package.fixer'

    release_app.strategy:
        class: Upgrade\Application\Strategy\ReleaseApp\ReleaseAppStrategy
        arguments:
            -  '@release_app.step_executor'

    Upgrade\Application\Strategy\StrategyResolver:
        class: Upgrade\Application\Strategy\StrategyResolver
        arguments:
            - - '@composer.strategy'
              - '@release_app.strategy'

    http.client:
        class: GuzzleHttp\Client
        arguments:
            - { timeout: '%http_client.timeout_sec%' }

    Upgrade\Infrastructure\HttpClient\RepeatableHttpClient:
        arguments:
            - '@http.client'
            - '%http_client.repeatable.attempts%'
            - '%http_client.repeatable.usec_delay%'

    Upgrade\Infrastructure\VersionControlSystem\SourceCodeProvider\Azure\AzureClientFactory:
        arguments:
            - '@configuration.provider'
            - '@Upgrade\Infrastructure\HttpClient\RepeatableHttpClient'

    Upgrade\Infrastructure\VersionControlSystem\SourceCodeProvider\GitHub\GitHubClientFactory:
        arguments:
            - '@configuration.provider'
            - '@Upgrade\Infrastructure\HttpClient\RepeatableHttpClient'

    Upgrade\Infrastructure\VersionControlSystem\SourceCodeProvider\GitLab\GitLabClientFactory:
        arguments:
            - '@configuration.provider'
            - '@Upgrade\Infrastructure\HttpClient\RepeatableHttpClient'

    Upgrade\Infrastructure\PackageManager\Reader\ComposerJsonReader:
    Upgrade\Infrastructure\PackageManager\Reader\ComposerLockReader:

    Upgrade\Infrastructure\PackageManager\ComposerAdapter:
        arguments:
            $composerJsonReader: '@Upgrade\Infrastructure\PackageManager\Reader\ComposerJsonReader'
            $composerLockReader: '@Upgrade\Infrastructure\PackageManager\Reader\ComposerLockReader'

    github.provider:
        class: Upgrade\Infrastructure\VersionControlSystem\SourceCodeProvider\GitHub\GitHubSourceCodeProvider

    gitlab.provider:
        class: Upgrade\Infrastructure\VersionControlSystem\SourceCodeProvider\GitLab\GitLabSourceCodeProvider

    azure.provider:
        class: Upgrade\Infrastructure\VersionControlSystem\SourceCodeProvider\Azure\AzureSourceCodeProvider

    configuration.provider:
        class: Upgrade\Infrastructure\Configuration\ConfigurationProvider

    Upgrade\Infrastructure\VersionControlSystem\SourceCodeProvider\SourceCodeProvider:
        class: Upgrade\Infrastructure\VersionControlSystem\SourceCodeProvider\SourceCodeProvider
        arguments:
            - '@configuration.provider'
            - - '@github.provider'
              - '@gitlab.provider'
              - '@azure.provider'

    validator.release_major:
        class: Upgrade\Application\Strategy\ReleaseApp\Validator\ReleaseGroup\MajorVersionValidator

    validator.conflict:
        class: Upgrade\Application\Strategy\ReleaseApp\Validator\ReleaseGroup\ConflictValidator

    Upgrade\Application\Strategy\ReleaseApp\ReleaseGroupFilter\ReleaseGroupFilter:
        arguments:
            - - '@Upgrade\Application\Strategy\ReleaseApp\ReleaseGroupFilter\DevMasterPackageFilterItem'
              - '@Upgrade\Application\Strategy\ReleaseApp\ReleaseGroupFilter\AlreadyInstalledPackageFilterItem'
              - '@Upgrade\Application\Strategy\ReleaseApp\ReleaseGroupFilter\NewPackageFilterItem'
              - '@Upgrade\Application\Strategy\ReleaseApp\ReleaseGroupFilter\DummyPackageFilterItem'
              - '@Upgrade\Application\Strategy\ReleaseApp\ReleaseGroupFilter\SecurityMajorFilterItem'
              - '@Upgrade\Application\Strategy\ReleaseApp\ReleaseGroupFilter\BetaMajorPackageFilterItem'

    Upgrade\Application\Strategy\ReleaseApp\Validator\ReleaseGroupSoftValidator:
        class: Upgrade\Application\Strategy\ReleaseApp\Validator\ReleaseGroupSoftValidator
        arguments:
            - - '@validator.release_major'
              - '@validator.conflict'

    Upgrade\Application\Validator\ProjectValidator:
        arguments:
            - - '@Upgrade\Application\Validator\Rule\PhpcsInstallationValidatorRule'

    validator.threshold_major:
        class: Upgrade\Application\Strategy\ReleaseApp\Validator\Threshold\MajorThresholdValidator

    validator.threshold_minor:
        class: Upgrade\Application\Strategy\ReleaseApp\Validator\Threshold\MinorThresholdValidator

    validator.threshold_patch:
        class: Upgrade\Application\Strategy\ReleaseApp\Validator\Threshold\PatchThresholdValidator

    validator.threshold_release_group:
        class: Upgrade\Application\Strategy\ReleaseApp\Validator\Threshold\ReleaseGroupThresholdValidator

    Upgrade\Application\Strategy\ReleaseApp\Validator\ThresholdSoftValidator:
        class: Upgrade\Application\Strategy\ReleaseApp\Validator\ThresholdSoftValidator
        arguments:
            - - '@validator.threshold_major'
              - '@validator.threshold_minor'
              - '@validator.threshold_patch'
              - '@validator.threshold_release_group'

    processor.pre_require_step_executor:
        class: Upgrade\Application\Executor\StepExecutor
        arguments:
            - '@monolog.logger'
            - - '@integrator_lock_run.step'
              - '@propel_fix.step'

    processor.post_require_step_executor:
        class: Upgrade\Application\Executor\StepExecutor
        arguments:
            - '@monolog.logger'
            - - '@composer_lock_diff.step'
              - '@orm_models_regenerate.step'
              - '@integrator.step'
              - '@composer_json_constraint_fix_step'
              - '@add_changes.step'
              - '@commit_changes.step'

    processor.sequential_release_group_processor:
        class: Upgrade\Application\Strategy\ReleaseApp\Processor\SequentialReleaseGroupProcessor
        arguments:
            - '@Upgrade\Application\Strategy\ReleaseApp\Validator\ReleaseGroupSoftValidator'
            - '@Upgrade\Application\Strategy\ReleaseApp\Validator\ThresholdSoftValidator'
            - '@Upgrade\Application\Strategy\ReleaseApp\Processor\ModuleFetcher'
            - '@Upgrade\Application\Strategy\ReleaseApp\ReleaseGroupFilter\ReleaseGroupFilter'
            - '@event_dispatcher'

    Upgrade\Application\Strategy\ReleaseApp\Processor\EventSubscriber\HookEventSubscriber:
        arguments:
            - '@processor.pre_require_step_executor'
            - '@processor.post_require_step_executor'

    Upgrade\Application\Strategy\ReleaseApp\Processor\ReleaseGroupProcessorResolver:
        class: Upgrade\Application\Strategy\ReleaseApp\Processor\ReleaseGroupProcessorResolver
        arguments:
            - '@configuration.provider'
            - - '@processor.sequential_release_group_processor'

    Upgrade\Infrastructure\VersionControlSystem\Generator\CheckerViolationMessageBuilderRegistry:
        arguments:
            - !tagged_iterator violation.message_builder

    #Third-party dependencies
    Ergebnis\Json\Printer\Printer: ~
    Ergebnis\Json\Printer\PrinterInterface: '@Ergebnis\Json\Printer\Printer'

    #Report
    GuzzleHttp\Client:

    serializer.json_encoder:
        class: Symfony\Component\Serializer\Encoder\JsonEncoder

    report.serializer:
        class: Symfony\Component\Serializer\Serializer
        arguments:
            - [ '@Upgrade\Infrastructure\Report\Serializer\Normalizer\ReportNormalizer' ]
            - [ "@serializer.json_encoder" ]

    Upgrade\Infrastructure\Report\Sender\RemoteEndpointJsonReportSender:
        arguments:
            - '@GuzzleHttp\Client'
            - '@report.serializer'
            - '@configuration.provider'
            - '%report_send_endpoint_url%'
            - '%report_send_timeout%'
            - '%report_send_connection_timeout%'

    SprykerSdk\Utils\Infrastructure\Service\ProcessRunnerService: ~
    SprykerSdk\Utils\Infrastructure\Service\ProcessRunnerServiceInterface: '@SprykerSdk\Utils\Infrastructure\Service\ProcessRunnerService'

    SprykerSdk\Utils\Infrastructure\Service\Filesystem: ~
