parameters:
    level: 3
    paths:
        - %currentWorkingDirectory%/src
    excludePaths:
        analyse:
            - %currentWorkingDirectory%/src/Generated/*
            - %currentWorkingDirectory%/src/Orm/*
